.homepage .menu {
    background: var(--app-color);
    color: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 20px;
}

.homepage .menu a{
    color: #fff;
}